# Potential image files
_out
*.iso
*.raw.xz

# Talos configuration files
controlplane.yaml
worker.yaml
talosconfig
cover.out
__debug_*
coverage.out
*.code-workspace

# Binary
cli/cli

#vscode workspace
bbe-quest
