repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.1
    hooks:
      - id: commitizen

  - repo: https://github.com/crate-ci/typos
    rev: v1.29.7
    hooks:
      - id: typos
        name: " Code Quality 路 Check for typos"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: " Security 路 Detect hardcoded secrets"

  - repo: https://github.com/mrtazz/checkmake.git
    rev: 0.2.2
    hooks:
      - id: checkmake
        name: " Makefile 路 Lint Makefile"

  - repo: local
    hooks:
      - id: run-make-test
        name: "И Tests 路  Run tests"
        entry: make -C cli test
        language: system
        pass_filenames: false
